body {
    background-image: url('https://cdn.hipwallpaper.com/i/92/22/vLH6EJ.gif');
    padding-top: 30px;
  
}

h3 {
    margin-block-end: 0px;
}

#calculatorContainer {
    max-width: 30vw;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    border: 6px blue solid;
    background-color: white;
    position: relative;
    height: auto;
}

#formulaDisplayText {
    color: red;
    font-family: 'Oxanium', monospace;
    font-size: 2.9vh;
    margin: 5px;
    padding-right: 5px;
    text-align: right;
    height: 3vh;
}

#numberDisplayText {
    font-family: 'Oxanium', monospace;
    font-size: 5.9vh;
    margin: 5px;
    padding-right: 5px;
    height: 6vh;
    text-align: right;
    overflow-x: auto;
}

#equalsButtonText {
    height: 25vh;
    background-color: green;
    padding-top: 10vh;
}

#acButtonText{
    background-color: red;
}

#buttonsContainer {
    margin: 10px 20px 5px 20px;
    /* width: 100%; */
    /* padding-top: 100%; */
}

.calcButtonContainer {
    padding: 0px;
    margin: 0px;
    color: white;
    border: .5vh solid white;
}

.buttonText {
    font-family: 'Quicksand', sans-serif;
    background-color: blue;
    font-size: 5vh;
    height: 12vh;
    text-align: center;
    padding-top: 3.5vh;
    border-radius: 4px;
    box-shadow: 2px 2px 4px darkgrey;
    cursor: pointer;
}

#signature {
    color: blue;
    font-family: 'Oxanium', monospace;
    font-size: 2vh;
    margin: .5vh;
}


/* 
if the viewport width is less than ____, start shrinking the entire calculator while maintaining the aspect ratio
if the viewport height is less than ____, start shrinking the entire calculator while maintaining the aspect ratio



*/